In [2]:
# Dependencies and Setup
import pandas as pd

# SQLAlchemy
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import psycopg2
from config import p_key

# File to Load
file_1 = "state_appendix_key.csv"
# file_2 = "data_food_deserts.csv"

In [4]:
# Read in the state appendix & food desert data
state_df = pd.read_csv(file_1)
# food_db = pd.read_csv(file_2)

# Create an engine that can talk to the database
# engine = create_engine(f"postgresql://postgres:{p_key}@localhost/food_deserts")
engine = create_engine(f"postgresql://postgres:{p_key}@localhost:5432/food_deserts")
connection = engine.connect()

In [5]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['data_food_deserts',
 'data_vulnerability_multi',
 'multnomah_data',
 'national_data']

In [7]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)

In [8]:
# Start a session to query the database
session = Session(engine)

In [9]:
# Query and save the query into results
# Use `engine.execute` to select and display
r = engine.execute("SELECT State,County\
,SUM(POP2010) AS total_population\
,CAST((ROUND(AVG(CAST(Urban AS NUMERIC)), 2) * 100) AS INT) AS percent_urban\
,CAST((ROUND(AVG(CAST(LA1and10 AS NUMERIC)), 2) * 100) AS INT) AS percent_low_access \
FROM data_food_deserts \
GROUP BY State, County").fetchall()
r

[('Pennsylvania', 'Centre', 153990, 58, 29),
 ('Texas', 'Lamar', 49793, 58, 67),
 ('Missouri', 'McDonald', 23083, 0, 25),
 ('Texas', 'Concho', 4087, 0, 100),
 ('Wyoming', 'Natrona', 75450, 67, 50),
 ('Texas', 'Real', 3309, 0, 100),
 ('Texas', 'Bastrop', 74171, 30, 80),
 ('Colorado', 'Custer', 4255, 0, 100),
 ('Texas', 'Morris', 12934, 33, 0),
 ('Indiana', 'Boone', 56640, 50, 50),
 ('Kentucky', 'Bath', 11591, 0, 0),
 ('Texas', 'Walker', 67861, 40, 50),
 ('Arkansas', 'White', 77076, 38, 46),
 ('Illinois', 'Macoupin', 47765, 31, 23),
 ('North Dakota', 'Sheridan', 1321, 0, 100),
 ('Indiana', 'Marshall', 47051, 33, 33),
 ('Arkansas', 'Bradley', 11508, 0, 20),
 ('North Carolina', 'Sampson', 63431, 9, 18),
 ('Virginia', 'Patrick', 18490, 0, 50),
 ('Kentucky', 'Knott', 16346, 0, 0),
 ('Mississippi', 'Sunflower', 29450, 43, 43),
 ('Nebraska', 'Keya Paha', 824, 0, 100),
 ('Missouri', 'Phelps', 45156, 50, 50),
 ('Wisconsin', 'Rusk', 14755, 20, 100),
 ('South Dakota', 'Perkins', 2982, 0, 100),
 ('Hawaii', 'Honolulu', 953207, 92, 34),
 ('Tennessee', 'Anderson', 75129, 44, 39),
 ('Ohio', 'Putnam', 34499, 14, 29),
 ('Ohio', 'Coshocton', 36901, 30, 30),
 ('Oklahoma', 'Love', 9423, 0, 33),
 ('Vermont', 'Windsor', 56670, 11, 11),
 ('Louisiana', 'Richland', 20725, 33, 33),
 ('New Mexico', 'Santa Fe', 144170, 68, 44),
 ('Missouri', 'Pulaski', 52274, 67, 67),
 ('Iowa', 'Taylor', 6317, 0, 0),
 ('Minnesota', 'Roseau', 15629, 20, 80),
 ('South Dakota', 'Mellette', 2048, 0, 100),
 ('Michigan', 'Kalamazoo', 250331, 81, 47),
 ('Utah', 'Emery', 10976, 33, 33),
 ('Oregon', 'Lincoln', 46034, 50, 28),
 ('North Carolina', 'Pamlico', 13144, 0, 25),
 ('Colorado', 'Crowley', 5823, 0, 0),
 ('Alabama', 'Mobile', 412992, 81, 39),
 ('Ohio', 'Meigs', 23770, 33, 50),
 ('Texas', 'Titus', 32334, 50, 50),
 ('Oregon', 'Jackson', 203206, 76, 49),
 ('Wisconsin', 'Jefferson', 83686, 45, 30),
 ('South Dakota', 'Faulk', 2364, 0, 100),
 ('Texas', 'Winkler', 7110, 67, 0),
 ('Michigan', 'Oscoda', 8640, 0, 0),
 ('Michigan', 'Alger', 9601, 0, 100),
 ('Texas', 'Mills', 4936, 0, 50),
 ('California', 'Napa', 136484, 78, 18),
 ('Nebraska', 'Dakota', 21006, 50, 50),
 ('Montana', 'Dawson', 8966, 67, 100),
 ('South Carolina', 'Laurens', 66537, 24, 24),
 ('Kansas', 'Johnson', 544179, 93, 37),
 ('Indiana', 'Noble', 47536, 30, 10),
 ('Texas', 'Dallas', 2368139, 98, 32),
 ('California', 'Sierra', 3240, 0, 100),
 ('New Mexico', 'Harding', 695, 0, 100),
 ('Idaho', 'Nez Perce', 39265, 80, 40),
 ('New York', 'Fulton', 55531, 53, 13),
 ('Illinois', 'Ogle', 53497, 36, 27),
 ('Wisconsin', 'Forest', 9304, 0, 50),
 ('Georgia', 'Jenkins', 8340, 0, 0),
 ('Texas', 'Matagorda', 36702, 30, 40),
 ('New Jersey', 'Passaic', 501226, 97, 27),
 ('Maine', 'Knox', 39736, 27, 27),
 ('Alabama', 'Autauga', 54571, 58, 75),
 ('Michigan', 'Genesee', 425790, 80, 52),
 ('Arizona', 'Pinal', 375770, 67, 63),
 ('Texas', 'Hemphill', 3807, 0, 0),
 ('Louisiana', 'St. Charles', 52780, 69, 62),
 ('Iowa', 'Pottawattamie', 93158, 63, 43),
 ('Kentucky', 'Webster', 13621, 0, 0),
 ('Florida', 'St. Lucie', 277789, 93, 68),
 ('Minnesota', 'Martin', 20840, 33, 83),
 ('Colorado', 'Lincoln', 5467, 0, 50),
 ('Pennsylvania', 'Northumberland', 94528, 54, 13),
 ('North Dakota', 'Dickey', 5289, 0, 33),
 ('Wyoming', 'Teton', 21294, 25, 50),
 ('Illinois', 'Carroll', 15387, 17, 33),
 ('Virginia', 'Frederick', 78305, 43, 50),
 ('New York', 'Orleans', 42883, 27, 18),
 ('Arizona', 'Yuma', 195751, 76, 36),
 ('Louisiana', 'Washington', 47168, 27, 45),
 ('Texas', 'Milam', 24757, 29, 86),
 ('South Dakota', 'Douglas', 3002, 0, 100),
 ('Georgia', 'Macon', 14740, 0, 0),
 ('Connecticut', 'Windham', 118428, 40, 20),
 ('Texas', 'Harrison', 65631, 36, 36),
 ('Alabama', 'Blount', 57322, 11, 22),
 ('Virginia', 'Lexington', 7042, 100, 100),
 ('Illinois', 'Pope', 4470, 0, 50),
 ('Texas', 'Foard', 1336, 0, 100),
 ('Mississippi', 'Leake', 23805, 20, 100),
 ('Texas', 'Glasscock', 1226, 0, 100),
 ('Kentucky', 'Meade', 28602, 25, 38),
 ('Illinois', 'Piatt', 16729, 25, 25),
 ('New York', 'Broome', 200600, 67, 18),
 ('Missouri', 'Clinton', 20743, 25, 25),
 ('Texas', 'Lipscomb', 3302, 0, 100),
 ('Oregon', 'Coos', 63043, 46, 31),
 ('South Dakota', 'Hughes', 17022, 75, 100),
 ('Tennessee', 'Cocke', 35662, 11, 44),
 ('Mississippi', 'Claiborne', 9604, 0, 33),
 ('West Virginia', 'Upshur', 24254, 33, 17),
 ('South Dakota', 'Buffalo', 1912, 0, 100),
 ('Illinois', 'Jo Daviess', 22678, 17, 50),
 ('Massachusetts', 'Dukes', 16535, 75, 50),
 ('Minnesota', 'Pine', 29750, 13, 50),
 ('Georgia', 'Jones', 28669, 33, 33),
 ('South Carolina', 'Florence', 136885, 52, 33),
 ('Washington', 'Snohomish', 713335, 83, 43),
 ('Texas', 'Gillespie', 24837, 0, 40),
 ('Oklahoma', 'Latimer', 11154, 0, 67),
 ('Georgia', 'Lamar', 18317, 33, 33),
 ('Alabama', 'Hale', 15760, 0, 33),
 ('Georgia', 'Murray', 39628, 25, 25),
 ('Indiana', 'Huntington', 37124, 56, 56),
 ('Texas', 'Shackelford', 3378, 0, 0),
 ('Pennsylvania', 'Washington', 207820, 64, 39),
 ('Mississippi', 'Marion', 27088, 17, 83),
 ('Alabama', 'Monroe', 23068, 0, 43),
 ('South Dakota', 'Moody', 6486, 0, 100),
 ('Texas', 'Hockley', 22935, 43, 86),
 ('Oklahoma', 'Alfalfa', 5642, 0, 67),
 ('Virginia', 'Culpeper', 46689, 38, 50),
 ('Texas', 'Wilson', 42918, 9, 18),
 ('Minnesota', 'Kandiyohi', 42239, 50, 50),
 ('North Carolina', 'Franklin', 60619, 8, 17),
 ('Florida', 'Gilchrist', 16939, 0, 0),
 ('Montana', 'Sheridan', 3384, 0, 50),
 ('Michigan', 'Lapeer', 88319, 25, 21),
 ('California', 'Kern', 839631, 87, 36),
 ('Wisconsin', 'Shawano', 41949, 18, 36),
 ('South Carolina', 'Richland', 384504, 92, 51),
 ('West Virginia', 'Brooke', 24069, 33, 33),
 ('New Hampshire', 'Belknap', 60088, 27, 20),
 ('Idaho', 'Franklin', 12786, 0, 50),
 ('Oklahoma', 'Cimarron', 2475, 0, 50),
 ('Pennsylvania', 'Lawrence', 91108, 64, 57),
 ('Kentucky', 'Floyd', 39451, 10, 10),
 ('Maryland', 'Baltimore City', 620961, 100, 4),
 ('Florida', 'Okeechobee', 39996, 50, 67),
 ('Iowa', 'Henry', 20145, 40, 60),
 ('Missouri', 'Crawford', 24696, 17, 33),
 ('Indiana', 'Spencer', 20952, 0, 0),
 ('New Mexico', 'Hidalgo', 4894, 0, 50),
 ('Mississippi', 'Perry', 12250, 0, 33),
 ('Indiana', 'Carroll', 20155, 14, 0),
 ('Florida', 'Madison', 19224, 0, 40),
 ('Illinois', 'Jackson', 60218, 64, 64),
 ('Texas', 'Wilbarger', 13535, 75, 100),
 ('Alabama', 'Crenshaw', 13906, 0, 83),
 ('Oregon', 'Linn', 116672, 67, 52),
 ('Oklahoma', 'Woodward', 20081, 40, 80),
 ('Arkansas', 'Perry', 10445, 0, 33),
 ('Arkansas', 'Lonoke', 68356, 38, 31),
 ('North Dakota', 'LaMoure', 4139, 0, 50),
 ('Tennessee', 'Maury', 80956, 47, 41),
 ('Oklahoma', 'Murray', 13488, 33, 33),
 ('New Mexico', 'Curry', 48376, 75, 75),
 ('Georgia', 'Barrow', 69367, 61, 56),
 ('California', 'Siskiyou', 44900, 21, 43),
 ('Montana', 'Garfield', 1206, 0, 100),
 ('Texas', 'Borden', 641, 0, 100),
 ('Virginia', 'Roanoke', 92376, 72, 44),
 ('Wisconsin', 'Waukesha', 389891, 86, 63),
 ('Tennessee', 'Carroll', 28522, 13, 25),
 ('Texas', 'Henderson', 78532, 29, 35),
 ('Missouri', 'Holt', 4912, 0, 100),
 ('West Virginia', 'Putnam', 55486, 40, 40),
 ('Alaska', 'Wade Hampton', 7459, 0, 100),
 ('Colorado', 'Denver', 600158, 99, 15),
 ('Connecticut', 'Middlesex', 165676, 75, 58),
 ('California', 'Alpine', 1175, 0, 100),
 ('North Dakota', 'Hettinger', 2477, 0, 100),
 ('Mississippi', 'Hinds', 245285, 89, 52),
 ('Florida', 'Indian River', 138028, 80, 63),
 ('Kentucky', 'Mercer', 21331, 20, 20),
 ('Missouri', 'DeKalb', 12892, 0, 100),
 ('Kentucky', 'Butler', 12690, 0, 0),
 ('Iowa', 'Audubon', 6119, 0, 0),
 ('Louisiana', 'Sabine', 24233, 14, 71),
 ('Alabama', 'Elmore', 79303, 20, 20),
 ('Oklahoma', 'Harper', 3685, 0, 50),
 ('Missouri', 'Cape Girardeau', 75674, 69, 44),
 ('Vermont', 'Chittenden', 156545, 66, 29),
 ('Tennessee', 'Dickson', 49666, 20, 30),
 ('Montana', 'Jefferson', 11406, 0, 33),
 ('Vermont', 'Caledonia', 31227, 0, 10),
 ('Idaho', 'Butte', 2891, 0, 100),
 ('Michigan', 'Montmorency', 9765, 0, 0),
 ('North Dakota', 'Ward', 61675, 69, 62),
 ('Oregon', 'Wheeler', 1441, 0, 100),
 ('Alabama', 'Colbert', 54428, 64, 43),
 ('Oklahoma', 'Okfuskee', 12191, 25, 50),
 ('South Dakota', 'Hanson', 3331, 0, 100),
 ('Texas', 'Fayette', 24554, 14, 43),
 ('Kansas', 'Ottawa', 6091, 0, 100),
 ('Minnesota', 'Cottonwood', 11687, 0, 50),
 ('Florida', 'Hendry', 39140, 29, 29),
 ('Wisconsin', 'Pepin', 7469, 0, 0),
 ('South Dakota', 'Miner', 2389, 0, 100),
 ('New York', 'Oneida', 234878, 69, 26),
 ('Utah', 'Daggett', 1059, 0, 100),
 ('Texas', 'Lampasas', 19677, 20, 40),
 ('Mississippi', 'Alcorn', 37057, 29, 29),
 ('New Mexico', 'Catron', 3725, 0, 100),
 ('Idaho', 'Madison', 37536, 67, 33),
 ('New Mexico', 'Torrance', 16383, 0, 75),
 ('Wyoming', 'Lincoln', 18106, 25, 50),
 ('Virginia', 'Grayson', 15533, 0, 40),
 ('Kansas', 'Chautauqua', 3669, 0, 100),
 ('Washington', 'Thurston', 252264, 69, 47),
 ('Iowa', 'Greene', 9336, 25, 50),
 ('Georgia', 'Calhoun', 6694, 0, 50),
 ('New Jersey', 'Union', 536499, 100, 22),
 ('Florida', 'Pinellas', 916542, 99, 33),
 ('Texas', 'Hamilton', 8517, 33, 67),
 ('Wisconsin', 'Sheboygan', 115507, 54, 27),
 ('Georgia', 'Sumter', 32819, 25, 25),
 ('New Hampshire', 'Sullivan', 43742, 40, 50),
 ('North Dakota', 'Renville', 2470, 0, 100),
 ('Michigan', 'Huron', 33118, 8, 42),
 ('Louisiana', 'Vernon', 52334, 50, 83),
 ('Arkansas', 'Searcy', 8195, 0, 67),
 ('Michigan', 'Midland', 83629, 47, 32),
 ('Illinois', 'McDonough', 32612, 70, 70),
 ('New York', 'Hamilton', 4836, 0, 50),
 ('Colorado', 'Mesa', 146723, 79, 59),
 ('Indiana', 'Harrison', 39364, 0, 0),
 ('Illinois', 'Christian', 34800, 50, 10),
 ('Alabama', 'DeKalb', 71109, 0, 0),
 ('Missouri', 'Barry', 35597, 29, 29),
 ('Kansas', 'Lyon', 33690, 63, 50),
 ('Washington', 'Yakima', 243231, 67, 27),
 ('Missouri', 'Johnson', 52595, 56, 67),
 ('South Carolina', 'Kershaw', 61697, 40, 60),
 ('Georgia', 'Baker', 3451, 0, 100),
 ('West Virginia', 'Pocahontas', 8719, 0, 100),
 ('Pennsylvania', 'Snyder', 39702, 25, 13),
 ('Wisconsin', 'Marquette', 15404, 0, 0),
 ('Pennsylvania', 'Adams', 101407, 35, 13),
 ('Colorado', 'Costilla', 3524, 0, 100),
 ('Alabama', 'Houston', 101547, 64, 32),
 ('Virginia', 'New Kent', 18429, 0, 0),
 ('South Carolina', 'Dorchester', 136555, 76, 60),
 ('Illinois', 'Fayette', 22140, 29, 71),
 ('Alabama', 'Shelby', 195085, 60, 50),
 ('Kansas', 'Rice', 10083, 33, 33),
 ('Georgia', 'Carroll', 110527, 65, 65),
 ('Kentucky', 'Christian', 73955, 63, 37),
 ('Nebraska', 'Arthur', 460, 0, 100),
 ('Minnesota', 'Renville', 15730, 0, 50),
 ('Virginia', 'Falls Church', 12332, 100, 0),
 ('Michigan', 'Washtenaw', 344791, 82, 41),
 ('Michigan', 'Cheboygan', 26152, 13, 25),
 ('Nebraska', 'Red Willow', 11055, 67, 100),
 ('Minnesota', 'St. Louis', 200226, 65, 45),
 ('Kansas', 'Butler', 65880, 54, 46),
 ('Virginia', 'Lynchburg', 75568, 100, 58),
 ('Texas', 'Reeves', 13783, 60, 60),
 ('Arizona', 'Santa Cruz', 47420, 70, 60),
 ('Washington', 'Franklin', 78163, 69, 62),
 ('Virginia', 'Rappahannock', 7373, 0, 100),
 ('Georgia', 'Brantley', 18411, 0, 33),
 ('Louisiana', 'Red River', 9091, 0, 50),
 ('Iowa', 'Emmet', 10302, 50, 50),
 ('Alaska', 'Yakutat', 662, 0, 100),
 ('Montana', 'Stillwater', 9117, 0, 67),
 ('Virginia', 'Floyd', 15279, 0, 100),
 ('Montana', 'Toole', 5324, 33, 67),
 ('Arkansas', 'Sevier', 17058, 25, 50),
 ('Pennsylvania', 'Union', 44947, 50, 50),
 ('Arizona', 'Graham', 37220, 44, 56),
 ('Virginia', 'Manassas', 37821, 100, 29),
 ('Pennsylvania', 'Lehigh', 349497, 89, 39),
 ('Texas', 'Brewster', 9232, 67, 67),
 ('Illinois', 'Wabash', 11947, 75, 50),
 ('Louisiana', 'Livingston', 128026, 47, 47),
 ('Florida', 'Osceola', 268685, 78, 66),
 ('Montana', 'Glacier', 13399, 25, 75),
 ('Georgia', 'Walker', 68756, 46, 46),
 ('Illinois', 'Edgar', 18576, 40, 100),
 ('Virginia', 'Clarke', 14034, 0, 0),
 ('Ohio', 'Morrow', 34827, 0, 0),
 ('West Virginia', 'Monroe', 13502, 0, 33),
 ('Kentucky', 'Harrison', 18846, 20, 40),
 ('Oklahoma', 'Johnston', 10957, 0, 67),
 ('Kentucky', 'Mason', 17490, 40, 20),
 ('Mississippi', 'Calhoun', 14962, 0, 0),
 ('Mississippi', 'Jefferson', 7726, 0, 50),
 ('West Virginia', 'Tucker', 7141, 0, 0),
 ('Georgia', 'Monroe', 26424, 0, 20),
 ('Mississippi', 'Madison', 95203, 71, 57),
 ('Illinois', 'McHenry', 308760, 79, 65),
 ('Alaska', 'Aleutians East', 3141, 0, 100),
 ('Nebraska', 'Perkins', 2970, 0, 100),
 ('Mississippi', 'Attala', 19564, 33, 33),
 ('Illinois', 'Knox', 52919, 69, 44),
 ('South Carolina', 'Sumter', 107456, 52, 35),
 ('Kansas', 'Sedgwick', 498365, 90, 46),
 ('North Dakota', 'McLean', 8962, 0, 100),
 ('Kansas', 'Brown', 9984, 33, 33),
 ('Ohio', 'Vinton', 13435, 0, 100),
 ('New Hampshire', 'Rockingham', 295223, 67, 58),
 ('Alabama', 'Henry', 17302, 17, 33),
 ('Indiana', 'Clay', 26890, 33, 33),
 ('Louisiana', 'Franklin', 20767, 17, 33),
 ('Kentucky', 'Casey', 15955, 0, 20),
 ('Colorado', 'Montezuma', 25535, 14, 43),
 ('Iowa', 'Dallas', 66135, 53, 27),
 ('West Virginia', 'Calhoun', 7627, 0, 50),
 ('Maryland', 'Montgomery', 971777, 97, 37),
 ('Oklahoma', 'Le Flore', 50384, 25, 50),
 ('Maine', 'Androscoggin', 107702, 46, 14),
 ('Georgia', 'McIntosh', 14333, 25, 25),
 ('Nebraska', 'Grant', 614, 0, 100),
 ('North Carolina', 'Wilkes', 69340, 14, 14),
 ('Minnesota', 'Rock', 9687, 33, 67),
 ('Minnesota', 'Becker', 32504, 20, 60),
 ('Alaska', 'Kenai Peninsula', 55400, 8, 62),
 ('Missouri', 'Ozark', 9723, 0, 100),
 ('Kansas', 'Anderson', 8102, 0, 50),
 ('New York', 'Clinton', 82128, 42, 37),
 ('Minnesota', 'Isanti', 37816, 38, 50),
 ('Georgia', 'DeKalb', 691893, 98, 51),
 ('Texas', 'Robertson', 16622, 20, 60),
 ('Michigan', 'Kent', 602622, 86, 44),
 ('Pennsylvania', 'Columbia', 67295, 47, 13),
 ('North Carolina', 'Bladen', 35190, 17, 50),
 ('South Dakota', 'Haakon', 1937, 0, 100),
 ('Michigan', 'Mason', 28705, 38, 25),
 ('Utah', 'Box Elder', 49975, 55, 55),
 ('Texas', 'Bell', 310235, 78, 65),
 ('South Dakota', 'Brule', 5255, 0, 50),
 ('Iowa', 'Woodbury', 102172, 77, 58),
 ('Michigan', 'Saginaw', 200169, 64, 43),
 ('New York', 'Cortland', 49336, 67, 33),
 ('Michigan', 'Mackinac', 11113, 0, 33),
 ('Florida', 'Suwannee', 41551, 0, 43),
 ('New Mexico', 'Lincoln', 20497, 40, 80),
 ('Indiana', 'Lake', 496005, 95, 49),
 ('Iowa', 'Crawford', 17096, 20, 80),
 ('Iowa', 'Keokuk', 10511, 0, 25),
 ('Alaska', 'Anchorage', 291826, 95, 47),
 ('North Dakota', 'Cass', 149778, 85, 39),
 ('Tennessee', 'Houston', 8426, 0, 0),
 ('Missouri', 'Adair', 25607, 57, 29),
 ('Illinois', 'Stark', 5994, 0, 100),
 ('Washington', 'Grant', 89120, 38, 63),
 ('Washington', 'Chelan', 72453, 50, 43),
 ('Texas', 'Hutchinson', 22150, 71, 29),
 ('Wisconsin', 'Polk', 44205, 10, 10),
 ('Ohio', 'Wyandot', 22615, 33, 17),
 ('Wisconsin', 'Manitowoc', 81442, 68, 37),
 ('Florida', 'Levy', 40801, 11, 33),
 ('Georgia', 'Wheeler', 7421, 0, 0),
 ('North Carolina', 'Lenoir', 59495, 73, 47),
 ('Illinois', 'Franklin', 39561, 58, 33),
 ('North Carolina', 'Avery', 17797, 0, 0),
 ('Iowa', 'Davis', 8753, 0, 0),
 ('Pennsylvania', 'Erie', 280566, 78, 42),
 ('Florida', 'Gadsden', 46389, 11, 22),
 ('Colorado', 'Sedgwick', 2379, 0, 0),
 ('South Dakota', 'Shannon', 13586, 33, 100),
 ('Kentucky', 'Ohio', 23842, 0, 29),
 ('Iowa', 'Osceola', 6462, 50, 100),
 ('Tennessee', 'Blount', 123010, 46, 39),
 ('Arkansas', 'Logan', 22353, 33, 50),
 ('Nebraska', 'Adams', 31364, 78, 56),
 ('Kansas', 'Dickinson', 19754, 33, 33),
 ('Indiana', 'Kosciusko', 77358, 37, 26),
 ('Texas', 'Jeff Davis', 2342, 0, 100),
 ('Missouri', 'St. Louis', 998954, 99, 52),
 ('New York', 'Jefferson', 116229, 38, 23),
 ('North Carolina', 'Henderson', 106740, 56, 41),
 ('Colorado', 'Broomfield', 55889, 83, 56),
 ('Iowa', 'Hardin', 17534, 33, 67),
 ('Colorado', 'Moffat', 13795, 75, 100),
 ('Nevada', 'Lincoln', 5345, 0, 100),
 ('Missouri', 'Morgan', 20565, 0, 20),
 ('Kansas', 'Hodgeman', 1916, 0, 100),
 ('Illinois', 'Montgomery', 30104, 38, 38),
 ('Virginia', 'Chesterfield', 316236, 94, 79),
 ('Michigan', 'Missaukee', 14849, 0, 25),
 ('District of Columbia', 'District of Columbia', 601723, 100, 5),
 ('Texas', 'Gregg', 121730, 80, 52),
 ('Minnesota', 'Todd', 24895, 13, 75),
 ('Louisiana', 'Ouachita', 153720, 80, 53),
 ('Kentucky', 'Muhlenberg', 31499, 22, 11),
 ('Tennessee', 'Morgan', 21987, 0, 40),
 ('Oklahoma', 'Grady', 52431, 50, 50),
 ('Utah', 'Duchesne', 18607, 33, 100),
 ('Mississippi', 'Scott', 28264, 50, 67),
 ('Louisiana', 'Acadia', 61773, 50, 33),
 ('North Carolina', 'Cleveland', 98078, 41, 45),
 ('California', 'Ventura', 823318, 88, 34),
 ('West Virginia', 'Ohio', 44443, 83, 39),
 ('Pennsylvania', 'Elk', 31946, 33, 22),
 ('Florida', 'Bay', 168852, 80, 55),
 ('Kansas', 'Pawnee', 6973, 50, 100),
 ('South Dakota', 'Lyman', 3755, 0, 100),
 ('Tennessee', 'Grundy', 13703, 0, 0),
 ('North Dakota', 'Emmons', 3550, 0, 100),
 ('Arkansas', 'Sebastian', 125744, 77, 23),
 ('Wisconsin', 'Taylor', 20689, 17, 50),
 ('Louisiana', 'St. Bernard', 35897, 89, 44),
 ('Virginia', 'Augusta', 73750, 31, 38),
 ('Georgia', 'Bacon', 11096, 0, 0),
 ('Arkansas', 'Hempstead', 22609, 40, 100),
 ('Indiana', 'Fayette', 24277, 57, 29),
 ('Virginia', 'Richmond', 9254, 0, 0),
 ('South Dakota', 'Bennett', 3431, 0, 100),
 ('Kansas', 'Seward', 22952, 80, 20),
 ('South Dakota', 'Aurora', 2710, 0, 100),
 ('Michigan', 'Cass', 52293, 18, 18),
 ('Texas', 'Motley', 1210, 0, 0),
 ('Ohio', 'Morgan', 15054, 25, 50),
 ('Ohio', 'Fairfield', 146156, 61, 36),
 ('Tennessee', 'Davidson', 626681, 92, 42),
 ('Texas', 'Stephens', 9630, 67, 67),
 ('Ohio', 'Summit', 541781, 94, 51),
 ('Georgia', 'Meriwether', 21992, 0, 25),
 ('Indiana', 'Union', 7516, 0, 0),
 ('New York', 'Steuben', 98990, 37, 20),
 ('Virginia', 'Goochland', 21717, 0, 20),
 ('Kansas', 'Kingman', 7858, 33, 100),
 ('Arkansas', 'Pulaski', 382748, 83, 53),
 ('Virginia', 'Essex', 11151, 33, 67),
 ('Tennessee', 'Henry', 32330, 33, 44),
 ('Missouri', 'Mississippi', 14358, 50, 0),
 ('Alabama', 'Barbour', 27457, 22, 56),
 ('North Carolina', 'Johnston', 168878, 24, 16),
 ('Florida', 'Union', 15535, 33, 67),
 ('Kansas', 'Wichita', 2234, 0, 100),
 ('Virginia', 'Scott', 23177, 17, 33),
 ('Minnesota', 'Washington', 238136, 82, 72),
 ('Missouri', 'Clay', 221939, 84, 57),
 ('Arkansas', 'Ouachita', 26120, 50, 83),
 ('New Mexico', 'Colfax', 13750, 0, 33),
 ('Michigan', 'Van Buren', 76258, 20, 7),
 ('Nebraska', 'Webster', 3812, 0, 50),
 ('Iowa', 'Warren', 46225, 67, 50),
 ('Missouri', 'Hickory', 9627, 0, 33),
 ('Texas', 'Fannin', 33915, 22, 56),
 ('Arkansas', 'Calhoun', 5368, 0, 100),
 ('Vermont', 'Orleans', 27231, 0, 20),
 ('Mississippi', 'Humphreys', 9375, 33, 33),
 ('Oklahoma', 'Canadian', 115541, 76, 45),
 ('Massachusetts', 'Hampshire', 158080, 72, 58),
 ('Tennessee', 'Henderson', 27769, 0, 33),
 ('Texas', 'Kimble', 4607, 50, 50),
 ('Iowa', 'Marion', 33309, 38, 38),
 ('Alabama', 'Franklin', 31704, 22, 33),
 ('Arkansas', 'Independence', 36647, 13, 25),
 ('Tennessee', 'Rutherford', 262604, 71, 51),
 ('Nevada', 'Carson City', 55274, 86, 50),
 ('Indiana', 'Bartholomew', 76794, 73, 67),
 ('Missouri', 'Monroe', 8840, 0, 33),
 ('Texas', 'Baylor', 3726, 0, 0),
 ('Texas', 'Starr', 60968, 53, 53),
 ('Minnesota', 'Beltrami', 44442, 30, 70),
 ('Kentucky', 'Shelby', 42074, 22, 0),
 ('New York', 'Monroe', 744344, 93, 42),
 ('North Dakota', 'Divide', 2071, 0, 100),
 ('Missouri', 'Harrison', 8957, 33, 67),
 ('Michigan', 'Dickinson', 26168, 43, 57),
 ('New York', 'Queens', 2230722, 98, 1),
 ('South Carolina', 'Jasper', 24777, 0, 20),
 ('Michigan', 'Grand Traverse', 86986, 50, 31),
 ('Wisconsin', 'Florence', 4423, 0, 0),
 ('North Dakota', 'Steele', 1975, 0, 100),
 ('Arkansas', 'Jackson', 17997, 40, 60),
 ('Minnesota', 'Mower', 39163, 64, 45),
 ('Vermont', 'Bennington', 37125, 17, 8),
 ('Nebraska', 'Scotts Bluff', 36970, 55, 27),
 ('Alaska', 'Ketchikan Gateway', 13477, 50, 0),
 ('Kentucky', 'Wolfe', 7355, 0, 0),
 ('Indiana', 'Vigo', 107848, 71, 43),
 ('Alaska', 'Skagway Municipality', 968, 0, 0),
 ('Maine', 'Piscataquis', 17535, 0, 0),
 ('Ohio', 'Monroe', 14642, 0, 0),
 ('Georgia', 'Terrell', 9315, 25, 25),
 ('Virginia', 'Franklin', 56159, 10, 40),
 ('Tennessee', 'Lauderdale', 27815, 22, 11),

In [10]:
# Unpack the results and save into separate lists
state = [result[0] for result in r]
county = [result[1] for result in r]
percent_low_access = [result[4] for result in r]

national_db = pd.DataFrame(
    {'state': state,
     'county': county,
     'percent_low_access': percent_low_access
    })

national_db

             state      county  percent_low_access
0     Pennsylvania      Centre                  29
1            Texas       Lamar                  67
2         Missouri    McDonald                  25
3            Texas      Concho                 100
4          Wyoming     Natrona                  50
...            ...         ...                 ...
3136       Georgia     Lincoln                   0
3137   Connecticut  Litchfield                  31
3138          Iowa    Delaware                  25
3139  South Dakota      Corson                 100
3140      Virginia       Giles                   0

[3141 rows x 3 columns]

In [46]:
# resource: https://stackoverflow.com/questions/25493625/vlookup-in-pandas-using-join
df = state_df.rename(columns={'State_Name': 'state'}) #rename the state_appendix column to match
national_db2 = national_db.merge(df, on='state', how='left') #merge db
national_db2

             state      county  percent_low_access Abbreviation
0     Pennsylvania      Centre                  29           PA
1            Texas       Lamar                  67           TX
2         Missouri    McDonald                  25           MO
3            Texas      Concho                 100           TX
4          Wyoming     Natrona                  50           WY
...            ...         ...                 ...          ...
3136       Georgia     Lincoln                   0           GA
3137   Connecticut  Litchfield                  31           CT
3138          Iowa    Delaware                  25           IA
3139  South Dakota      Corson                 100           SD
3140      Virginia       Giles                   0           VA

[3141 rows x 4 columns]

In [ ]:
# # Search db
# # resource: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html
# search_result = food_db3.loc[food_db3["County"] == "Baldwin"]

In [44]:
# read in the json data structure
highchart_df = pd.read_json('highchart_read_template.json')
read_df = pd.DataFrame(highchart_df) #covert to data frame
read_df

           code                     name  value
0     us-al-001       Autauga County, AL    3.9
1     us-al-003       Baldwin County, AL    4.3
2     us-al-005       Barbour County, AL    5.6
3     us-al-007          Bibb County, AL    4.2
4     us-al-009        Blount County, AL    3.8
...         ...                      ...    ...
3214  us-pr-145  Vega Baja Municipio, PR   12.2
3215  us-pr-147    Vieques Municipio, PR   24.5
3216  us-pr-149   Villalba Municipio, PR   20.0
3217  us-pr-151    Yabucoa Municipio, PR   17.6
3218  us-pr-153      Yauco Municipio, PR   17.3

[3219 rows x 3 columns]

In [45]:
#resource: https://stackoverflow.com/questions/37333299/splitting-a-column-by-delimiter-pandas-python
read_df[['name','app']] = read_df['name'].str.split(',',expand=True)
read_df

           code                 name  value  app
0     us-al-001       Autauga County    3.9   AL
1     us-al-003       Baldwin County    4.3   AL
2     us-al-005       Barbour County    5.6   AL
3     us-al-007          Bibb County    4.2   AL
4     us-al-009        Blount County    3.8   AL
...         ...                  ...    ...  ...
3214  us-pr-145  Vega Baja Municipio   12.2   PR
3215  us-pr-147    Vieques Municipio   24.5   PR
3216  us-pr-149   Villalba Municipio   20.0   PR
3217  us-pr-151    Yabucoa Municipio   17.6   PR
3218  us-pr-153      Yauco Municipio   17.3   PR

[3219 rows x 4 columns]

Empty DataFrame
Columns: [code, name, value, app]
Index: []