In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_1 = "state_appendix_key.csv"
file_2 = "data_food_deserts.csv"

In [18]:
# Read in the state appendix & food desert data
state_app = pd.read_csv(file_1)
food_db = pd.read_csv(file_2)
state_app

                        State_Name Abbreviation
0                          Alabama           AL
1                           Alaska           AK
2                   American Samoa           AS
3                          Arizona           AZ
4                         Arkansas           AR
5                       California           CA
6                         Colorado           CO
7                      Connecticut           CT
8                         Delaware           DE
9             District of Columbia           DC
10  Federated States of Micronesia           FM
11                         Florida           FL
12                         Georgia           GA
13                            Guam           GU
14                          Hawaii           HI
15                           Idaho           ID
16                        Illinois           IL
17                         Indiana           IN
18                            Iowa           IA
19                          Kansas           KS
20                        Kentucky           KY
21                       Louisiana           LA
22                           Maine           ME
23                Marshall Islands           MH
24                        Maryland           MD
25                   Massachusetts           MA
26                        Michigan           MI
27                       Minnesota           MN
28                     Mississippi           MS
29                        Missouri           MO
30                         Montana           MT
31                        Nebraska           NE
32                          Nevada           NV
33                   New Hampshire           NH
34                      New Jersey           NJ
35                      New Mexico           NM
36                        New York           NY
37                  North Carolina           NC
38                    North Dakota           ND
39        Northern Mariana Islands           MP
40                            Ohio           OH
41                        Oklahoma           OK
42                          Oregon           OR
43                           Palau           PW
44                    Pennsylvania           PA
45                     Puerto Rico           PR
46                    Rhode Island           RI
47                  South Carolina           SC
48                    South Dakota           SD
49                       Tennessee           TN
50                           Texas           TX
51                            Utah           UT
52                         Vermont           VT
53                  Virgin Islands           VI
54                        Virginia           VA
55                      Washington           WA
56                   West Virginia           WV
57                       Wisconsin           WI
58                         Wyoming           WY

In [21]:
# resource: https://stackoverflow.com/questions/25493625/vlookup-in-pandas-using-join
df = state_app.rename(columns={'State_Name': 'State'})
updated_food_db = food_db.merge(df, on='State', how='left')
updated_food_db

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,Abbreviation
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,1622,217,14,0,14,45,44,26,112,AL
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,888,1217,5,0,5,55,75,87,202,AL
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,2576,647,17,5,11,117,87,108,120,AL
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,4086,193,18,4,11,74,85,19,82,AL
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,8666,1437,296,9,48,310,355,198,488,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,Wyoming,Washakie,0,3326,1317,0,57,0.017138,0,...,3106,6,15,0,27,172,309,56,116,WY
72860,56043000301,Wyoming,Washakie,1,2665,1154,0,10,0.003752,0,...,2377,5,23,0,40,220,446,114,124,WY
72861,56043000302,Wyoming,Washakie,1,2542,1021,0,73,0.028717,0,...,2312,11,10,1,26,182,407,82,97,WY
72862,56045951100,Wyoming,Weston,0,3314,1322,0,252,0.076041,0,...,3179,15,10,1,47,62,91,108,50,WY
72863,56045951300,Wyoming,Weston,1,3894,1699,0,61,0.015665,0,...,3706,6,10,2,44,126,125,95,168,WY