In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker

In [2]:
engine = create_engine("postgresql://postgres:bRanch773millisecond!@localhost:5432/food_deserts")

conn = engine.connect()

In [3]:
nat_map = pd.read_sql("SELECT * FROM nat_map", conn)

In [4]:
nat_map

                      name  value
0        Vinton County, OH    100
1        Pawnee County, NE    100
2     McPherson County, SD    100
3       Prairie County, MT    100
4          Loup County, NE    100
...                    ...    ...
3136     Benzie County, MI      0
3137   Converse County, WY      0
3138  Jefferson County, TN      0
3139     Harvey County, KS      0
3140    Fayette County, IA      0

[3141 rows x 2 columns]